body {margin: 0px;}
@font-face {
	font-family: RobotoBold;
	src: url(https://s0.2mdn.net/creatives/assets/3726189/Roboto-Bold.woff);
}

@font-face {
	font-family: RobotoReg;
	src: url(https://s0.2mdn.net/creatives/assets/3726189/Roboto-Regular.woff);
}


#container {
	background-color: black;
	border: 1px solid #808080;
	box-shadow: inset 0 0 0 1px #808080;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display: none;
	overflow: hidden;
	position: absolute;
	width: 160px;
	height: 600px;
	pointer-events: none;
}


#clickthru{
	width: 100%;
	height: 100%;
	pointer-events: auto;
	position: absolute;
}
.sprite{
	position: absolute;
}

#header-scroller{
    background-color: #6098b0;
    width:100%;
    height: 29px;
    top: 371px;
    position: absolute;
    pointer-events: auto;
}

.header-text {top: 3px;left: 4px;pointer-events: auto;}

/*-------------- SPRITE -------------*/
.sprite { background: url('sprite.png') no-repeat top left; width: 176px; height: 416px; background-size: 176px 416px;  } 
.sprite.cta-arrow { background-position: 0 0; width: 5px; height: 9px; } 
.sprite.cta-text { background-position: 0 -14px; width: 125px; height: 9px; } 
.sprite.header-text { background-position: 0 -28px; width: 149px; height: 21px; } 
.sprite.t1-1 { background-position: 0 -54px; width: 115px; height: 16px; } 
.sprite.t1-2 { background-position: 0 -75px; width: 132px; height: 13px; } 
.sprite.logo { background-position: 0 -93px; width: 117px; height: 44px; } 
.sprite.t1-3 { background-position: 0 -142px; width: 110px; height: 13px; } 
.sprite.t1-4 { background-position: 0 -160px; width: 60px; height: 11px; } 
.sprite.t2-1 { background-position: 0 -176px; width: 80px; height: 20px; } 
.sprite.t2-2 { background-position: 0 -201px; width: 95px; height: 38px; } 
.sprite.t2-3 { background-position: 0 -244px; width: 86px; height: 11px; } 
.sprite.t3-1 { background-position: 0 -260px; width: 151px; height: 38px; } 
.sprite.t3-2 { background-position: 0 -303px; width: 98px; height: 23px; } 
.sprite.t4-1 { background-position: 0 -331px; width: 123px; height: 54px; } 
.sprite.top-text { background-position: 0 -390px; width: 176px; height: 26px; } 

/*--------- SPRITE POSITION ---------*/
.cta-text {top: 8px;left: 10px;}
.cta-arrow {top: 7px;left: 139px;}
.logo {top: 56px;left: 24px;}
.t1-1 {top: 118px;left: 22px;}
.t1-2 {top: 137px;left: 12px;}
.t1-3 {top: 150px;left: 24px;}
.t1-4 {top: 163px;left: 48px;}

.t2-1 {top: 105px;left: 40px;}
.t2-2 {top: 126px;left: 33px;}
.t2-3 {top: 165px;left: 36px;}

.t3-1 {top: 112px;left: 4px;}
.t3-2 {top: 151px;left: 30px;}

.t4-1 {top: 0px;left: -2px;}

.top-text {top: 19px;left: -26px;}

/*-------- IMAGES | POSITION --------*/
img {
	width: 100%;
	height: auto;
	display: block;
}

.bg1, .bg2, .bg3, .bg4, .grad{
	width: 160px;
	height: 600px;
    top:-1px;
    left:-1px;
	position: absolute;
}

.cta{
    background-color: #ffffff;
    border-radius: 17px;
    width: 151px;
    height: 24px;
    left: 3px;
    top: 313px;
    position: absolute;
}

.line{
    background-color: #E09FEB;
    top: 116px;
    left: 19px;
    width:2px;
    height: 53px;
    position: absolute;
}

.t4-mask{
    width: 123px;
    height: 55px;
    top: 115px;
    left: 20px;
    position: absolute;
    overflow: hidden;
}


/*--------------------------------------------------------*/
/*-------------scroller css start-------------------------*/
/*--------------------------------------------------------*/
p,span,table,ul,li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	image-rendering: optimizeQuality;
}
#scroller-container{
	width: 158px;
	height: 198px;
	/* height: 10000px; */
	bottom: 0px;
	/* top: 399px; */
	left: 0px;
	pointer-events: auto;
	cursor: default;
	position: absolute;
}

#scroller{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 17px;
}
#scrollerbar {
	position: absolute;
	width: 8px;
	height: 197px;
	right: 0px;
	top: 1px;
}
#scrollbar {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	left: 0;
	top: 0;
	pointer-events: none;
}
#scrubber {
	position: absolute;
	width: 7px;
	height: 19px;
	background-color: #A0A0A0;
	cursor: pointer!important;
	border-radius: 20px;
}

.content{
	position: relative!important;
	padding-left: 10px;
	padding-right: 17px;
	padding-top: 9px;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.36px;
	color: #000000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family:  RobotoReg;
}

ol{
	font-weight: bold;
	padding: 0;
	margin-top: 0px;
	padding-left: 10px;
}

ol li{
	margin-bottom: 3px;
    padding-left: 3px;
}

ol li span{
	font-weight: normal;
}

ul{
    padding: 0;
    list-style-type: disc;
    list-style-position: inside;
    list-style: none;
}

ul li{
	list-style-type: none;
	margin-left: 11px;
	list-style-position: outside;
	position: relative;
	padding-bottom: 4px;
	margin-right: -1px;
}

ul li:before {
    display: block;
    content: "\2022";
    position: absolute;
    left: -11px;
    font-size: 13px;
    overflow: visible;
    color: #333333;
}

a u, a span {
    color: inherit;
}


#toggle {
	position: absolute;
	right: 14px;
	top: 8px;
	cursor: pointer;
	font-size: 11px;
	color: black;
}

#toggle .expand, #toggle .collapse {
    display: none;
    height: inherit;
    width:13px;
    height: 13px;
}

#toggle.expand .expand,#toggle.collapse .collapse{
	display: block;
}

#toggle{
	pointer-events: auto;
}

nowrap{
	white-space: nowrap;
}

.arrow{
	top: 2px;
    position: absolute;
    width: 14px;
	height: 8px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}
.scroller-arrows{
	position: absolute;
	width: 14px;
	height: 13px;
	right: 9px;
	top: 5px;
	border-radius: 4px 4px 0 0;
	background-color: #074162;
	pointer-events: auto;
	cursor: pointer;
}
.arrow-down{
	transform:rotate(180deg);
	top: 59px;
}
/*--------------------------------------------------------*/
/*-------------scroller css end---------------------------*/
/*--------------------------------------------------------*/
/*--------------------custom css--------------------------*/
.content b{

}

.content i{

}

.bold{
    font-family: RobotoBold;
    /* letter-spacing: 0.2px; */
}

p{
	padding-bottom: 9px;
}


#number, #medGuide, #fdaNo, #medWatch {
    pointer-events: auto;
    cursor: pointer;
}
